SNOWFLAKE_ACCOUNT=LFBTWXR-HI40950.snowflakecomputing.com
SNOWFLAKE_USER=Adiantum
SNOWFLAKE_PRIVATE_KEY_PATH="C:/Users/user/rsa_key.p8"
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE="rsa_key"
SNOWFLAKE_WAREHOUSE=ZHH001
SNOWFLAKE_DATABASE=TEST_DATABASE
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_USE_KEYPAIR=true

# LOG_STORAGE_TYPE=oracle
# LOG_STORAGE_TYPE=snowflake
LOG_STORAGE_TYPE=sqlite

# SQLite
# 履歴取得対象のDBファイルパス（SQLLogService が参照）
SQLITE_LOG_DB_PATH=./logs/sql_logs.db

# Snowflake_LOG
SNOWFLAKE_LOG_ACCOUNT=LFBTWXR-HI40950.snowflakecomputing.com
SNOWFLAKE_LOG_USER=Adiantum
SNOWFLAKE_LOG_PRIVATE_KEY_PATH="C:/Users/user/rsa_key.p8"
SNOWFLAKE_LOG_PRIVATE_KEY_PASSPHRASE="rsa_key"
SNOWFLAKE_LOG_WAREHOUSE=ZHH001
SNOWFLAKE_LOG_DATABASE=TEST_DATABASE
SNOWFLAKE_LOG_SCHEMA=LOG
SNOWFLAKE_LOG_ROLE=ACCOUNTADMIN
SNOWFLAKE_LOG_USE_KEYPAIR=true

# --- Oracle DB Connection (DSN-less) ---
ORACLE_DRIVER=Oracle in OraDB19Home1
ORACLE_HOST=your_oracle_host_ip
ORACLE_PORT=1521
ORACLE_SID=ILC05 
ORACLE_USER=your_oracle_user
ORACLE_PASSWORD=your_oracle_password

APP_HOST=0.0.0.0
APP_PORT=8001
APP_DEBUG=false
LOG_LEVEL=DEBUG
# DEBUG:最も詳細な情報。開発時のデバッグ用
# INFO:正常な動作を示す情報
# WARNING:予期しないことや、将来問題になる可能性のある事象
# ERROR:重大なエラー。処理が正常に完了できなかった場合。
# CRITICAL:致命的なエラー
PUBLIC_SERVER_URL=
SECRET_KEY=
ADMIN_PASSWORD=mono0000 
DEFAULT_PAGE_SIZE=200
CURSOR_CHUNK_SIZE=2000

# 大容量データ処理設定
MAX_RECORDS_FOR_DISPLAY=1000000
MAX_RECORDS_FOR_CSV_DOWNLOAD=10000000
MAX_RECORDS_FOR_EXCEL_DOWNLOAD=100000
MAX_RECORDS_FOR_CLIPBOARD_COPY=100000

# 履歴関連設定
MAX_HISTORY_LOGS=1000

# キャッシュセッション自動クリーンアップ設定
CACHE_CLEANUP_ENABLED=true
CACHE_CLEANUP_INTERVAL_MINUTES=15
CACHE_SESSION_TIMEOUT_MINUTES=30
CACHE_SESSION_CLEANUP_HOURS=12

# CORS設定 
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173


